<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title>vueJS</title>
</head>
<body>
	
	<!-- v-cloak скрывает нескомпилированные элементы, пока сущность Vue.js не готова. -->

<form id="main" v-cloak>

	<h1>Услуги</h1>

	<ul>
		<!-- Цикл проходит по массиву услуг, присваивает обработчик для клика, и устанавливает или удаляет класс "active" -->
		<li v-for="service in services" v-on:click="toggleActive(service)" v-bind:class="{ 'active': service.active}" >
			<!-- Показывает название и цену для каждого вложенного элемента.
                Vue.js имеет встроенный фильтр валют для формирования цены -->
			{{service.name}} <span>{{service.price | currency}}
			</span>
			</li>
			<li  v-for="Discount in Discount " v-on:click="toggleDiscount(Discount)" v-bind:class="{ 'active': Discount.active}">
				{{Discount.name}}<span>{{Discount.discount2}}%</span>
			</li>

		
	</ul>

	<div class="total">
		<!-- Высчитывает итоговую сумму -->
		Итого: <span>{{total() | currency}}</span>
	</div>

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
<script src="js/script.js"></script>
</body>
</html>